* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-width: thin;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "楷体", STKaiti;
}

#frame_main {
    float:right;
}

.full_screen {
    height: 1000px;

}
